.header{
    display:flex;
    justify-content: space-between;
    border-right:1px solid black;
    border-bottom:1px solid black ;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius:20%;
    border-top-right-radius: 14%;
}

.logo{
    width:140px;
}

.nav-items{
    padding-block: 20px;
    padding-inline-end: 30px;
}

.nav-items>ul{
    display:flex;
    font-size:18px;
}

.nav-items>ul>li{
    padding:10px;
    margin:10px;
    list-style: none;
}
.body{
    padding:48px;
    margin:10px;
}
.search{
    margin:12px;
}

.res-container{
    display:flex;
    flex-wrap:wrap;
}

.res-card{ 
    margin:5px;
    width:250px;
    /* height:390px; */
    border-radius:10px;
    overflow:hidden;
    padding-inline:3px;
    box-sizing: border-box;
    margin-bottom:8px ;
}

.res-card:hover{
    /* border:1px solid rgb(165, 209, 201); */
    cursor:pointer;
    transform: scale(1.03);
}

.res-logo{
    width:100%;
    max-height: 51%;
    min-height: 50%;
    border-radius: 3px;
}
